@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS for mask */
.mask-gradient {
  /* -webkit-mask-image: url('../../public/images/b1.png'); */
  mask-image: url('../../public/images/7.png');
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-composite: source-in;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */

@keyframes borderAnimation {
  0% {
    border-color: red;
  }

  25% {
    border-color: yellow;
  }

  50% {
    border-color: green;
  }

  75% {
    border-color: blue;
  }

  100% {
    border-color: red;
  }
}

.animated-border {
  border: 2px solid;
  /* Adjust the border width if needed */
  animation: borderAnimation 3s linear infinite;
  /* Adjust duration as needed */
}

.contentset {
  background-color: #f1f5f9;
  padding: 10px;
  border-radius: 10px;
}

@keyframes slowFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-slowFadeIn {
  animation: slowFadeIn 3s forwards;
  /* Slows down the fade-in to 3 seconds */
}